### Extract EDD Employment Dataset

In [2]:
# Install Sodapy to read Socrata 
# pip install sodapy

In [3]:
# Import important libraries
import pandas as pd
from sodapy import Socrata
import requests

In [4]:
# Unauthenticated client only works with public data sets. Note 'None'
client = Socrata("data.edd.ca.gov", None)

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

In [5]:
# client = Socrata(data.edd.ca.gov,
#                  MyAppToken,
#                  userame=,
#                  password=)

In [9]:
# Retreive data from API
results = client.get("e6gw-gvii", limit=180000)

ConnectionError: HTTPSConnectionPool(host='data.edd.ca.gov', port=443): Max retries exceeded with url: /resource/e6gw-gvii.json?%24limit=180000 (Caused by NewConnectionError('<urllib3.connection.HTTPSConnection object at 0x7fa398581a90>: Failed to establish a new connection: [Errno 8] nodename nor servname provided, or not known'))

In [10]:
# Create a dataframe 
edd_results_df = pd.DataFrame.from_records(results)
edd_results_df

NameError: name 'results' is not defined

In [8]:
edd_results_df.to_csv("../cleaned_data/full_unemployment_dataset.csv")

NameError: name 'edd_results_df' is not defined

### Cleaning EDD Employment Dataset

In [112]:
pwd

'/Users/ellismok/Desktop/Challenges/PsciCat-Learners---Final-Project/cleaning_data_wrbk'

In [113]:
edd_results_df

,area_type,area_name,date,year,month,seasonally_adjusted_y_n,status_preliminary_final,labor_force,employment,unemployment,unemployment_rate
0,County,Alameda County,2021-04-01T00:00:00.000,2021,April,N,Preliminary,795300,745000,50200,0.063
1,County,Alpine County,2021-04-01T00:00:00.000,2021,April,N,Preliminary,540,500,40,0.08
2,County,Amador County,2021-04-01T00:00:00.000,2021,April,N,Preliminary,14270,13270,990,0.07
3,County,Butte County,2021-04-01T00:00:00.000,2021,April,N,Preliminary,91500,85000,6500,0.071
4,County,Calaveras County,2021-04-01T00:00:00.000,2021,April,N,Preliminary,21100,19850,1250,0.059
...,...,...,...,...,...,...,...,...,...,...,...
173251,County,Los Angeles County,1976-01-01T00:00:00.000,1976,January,N,Final,3364151,3040058,324093,0.096
173252,Metropolitan Area,Los Angeles-Long Beach-Glendale MD,1976-01-01T00:00:00.000,1976,January,N,Final,3364151,3040058,324093,0.096
173253,Metropolitan Area,Los Angeles-Long Beach-Glendale MD,1976-01-01T00:00:00.000,1976,January,Y,Final,3381856,3081806,300050,0.089
173254,State,California,1976-01-01T00:00:00.000,1976,January,Y,Final,9774280,8875685,898595,0.092
173255,State,California,1976-01-01T00:00:00.000,1976,January,N,Final,9672362,8668016,1004346,0.103

In [114]:
# Find the types of rows for area_type, aree
edd_results_df["area_type"].unique()

array(['County', 'Metro Division', 'Metropolitan Area', 'MSA', 'State',
       'Sub-County Place'], dtype=object)

In [115]:
# Grab only County from area_type
county_df = edd_results_df.loc[edd_results_df["area_type"]=="County"]
county_df

,area_type,area_name,date,year,month,seasonally_adjusted_y_n,status_preliminary_final,labor_force,employment,unemployment,unemployment_rate
0,County,Alameda County,2021-04-01T00:00:00.000,2021,April,N,Preliminary,795300,745000,50200,0.063
1,County,Alpine County,2021-04-01T00:00:00.000,2021,April,N,Preliminary,540,500,40,0.08
2,County,Amador County,2021-04-01T00:00:00.000,2021,April,N,Preliminary,14270,13270,990,0.07
3,County,Butte County,2021-04-01T00:00:00.000,2021,April,N,Preliminary,91500,85000,6500,0.071
4,County,Calaveras County,2021-04-01T00:00:00.000,2021,April,N,Preliminary,21100,19850,1250,0.059
...,...,...,...,...,...,...,...,...,...,...,...
173239,County,Los Angeles County,1976-03-01T00:00:00.000,1976,March,N,Final,3361820,3069797,292023,0.086
173244,County,Los Angeles County,1976-02-01T00:00:00.000,1976,February,Y,Final,3381218,3081497,299721,0.089
173245,County,Los Angeles County,1976-02-01T00:00:00.000,1976,February,N,Final,3364401,3050306,314095,0.093
173250,County,Los Angeles County,1976-01-01T00:00:00.000,1976,January,Y,Final,3381856,3081806,300050,0.089
173251,County,Los Angeles County,1976-01-01T00:00:00.000,1976,January,N,Final,3364151,3040058,324093,0.096

In [116]:
# Remove the county from each name
county_df["area_name"] = county_df["area_name"].str.replace(" County", "")
county_df

<ipython-input-116-0a1a434fcd25>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  county_df["area_name"] = county_df["area_name"].str.replace(" County", "")

,area_type,area_name,date,year,month,seasonally_adjusted_y_n,status_preliminary_final,labor_force,employment,unemployment,unemployment_rate
0,County,Alameda,2021-04-01T00:00:00.000,2021,April,N,Preliminary,795300,745000,50200,0.063
1,County,Alpine,2021-04-01T00:00:00.000,2021,April,N,Preliminary,540,500,40,0.08
2,County,Amador,2021-04-01T00:00:00.000,2021,April,N,Preliminary,14270,13270,990,0.07
3,County,Butte,2021-04-01T00:00:00.000,2021,April,N,Preliminary,91500,85000,6500,0.071
4,County,Calaveras,2021-04-01T00:00:00.000,2021,April,N,Preliminary,21100,19850,1250,0.059
...,...,...,...,...,...,...,...,...,...,...,...
173239,County,Los Angeles,1976-03-01T00:00:00.000,1976,March,N,Final,3361820,3069797,292023,0.086
173244,County,Los Angeles,1976-02-01T00:00:00.000,1976,February,Y,Final,3381218,3081497,299721,0.089
173245,County,Los Angeles,1976-02-01T00:00:00.000,1976,February,N,Final,3364401,3050306,314095,0.093
173250,County,Los Angeles,1976-01-01T00:00:00.000,1976,January,Y,Final,3381856,3081806,300050,0.089
173251,County,Los Angeles,1976-01-01T00:00:00.000,1976,January,N,Final,3364151,3040058,324093,0.096

In [117]:
# Filtered LA county and seasonally_adjusted_y because of duplication 
filtered_county = county_df.loc[county_df["seasonally_adjusted_y_n"] == "N"]
filtered_county

,area_type,area_name,date,year,month,seasonally_adjusted_y_n,status_preliminary_final,labor_force,employment,unemployment,unemployment_rate
0,County,Alameda,2021-04-01T00:00:00.000,2021,April,N,Preliminary,795300,745000,50200,0.063
1,County,Alpine,2021-04-01T00:00:00.000,2021,April,N,Preliminary,540,500,40,0.08
2,County,Amador,2021-04-01T00:00:00.000,2021,April,N,Preliminary,14270,13270,990,0.07
3,County,Butte,2021-04-01T00:00:00.000,2021,April,N,Preliminary,91500,85000,6500,0.071
4,County,Calaveras,2021-04-01T00:00:00.000,2021,April,N,Preliminary,21100,19850,1250,0.059
...,...,...,...,...,...,...,...,...,...,...,...
173227,County,Los Angeles,1976-05-01T00:00:00.000,1976,May,N,Final,3349943,3089152,260791,0.077
173233,County,Los Angeles,1976-04-01T00:00:00.000,1976,April,N,Final,3362757,3082562,280195,0.083
173239,County,Los Angeles,1976-03-01T00:00:00.000,1976,March,N,Final,3361820,3069797,292023,0.086
173245,County,Los Angeles,1976-02-01T00:00:00.000,1976,February,N,Final,3364401,3050306,314095,0.093
173251,County,Los Angeles,1976-01-01T00:00:00.000,1976,January,N,Final,3364151,3040058,324093,0.096

In [118]:
# Drop unneccessary columns: "Unnamed: 0", "area_type", "status_preliminary_final", "dates"
drop_filtered_county = filtered_county.drop(columns= ["year","month", "area_type", "seasonally_adjusted_y_n","status_preliminary_final"], axis = 1)
drop_filtered_county

,area_name,date,labor_force,employment,unemployment,unemployment_rate
0,Alameda,2021-04-01T00:00:00.000,795300,745000,50200,0.063
1,Alpine,2021-04-01T00:00:00.000,540,500,40,0.08
2,Amador,2021-04-01T00:00:00.000,14270,13270,990,0.07
3,Butte,2021-04-01T00:00:00.000,91500,85000,6500,0.071
4,Calaveras,2021-04-01T00:00:00.000,21100,19850,1250,0.059
...,...,...,...,...,...,...
173227,Los Angeles,1976-05-01T00:00:00.000,3349943,3089152,260791,0.077
173233,Los Angeles,1976-04-01T00:00:00.000,3362757,3082562,280195,0.083
173239,Los Angeles,1976-03-01T00:00:00.000,3361820,3069797,292023,0.086
173245,Los Angeles,1976-02-01T00:00:00.000,3364401,3050306,314095,0.093
173251,Los Angeles,1976-01-01T00:00:00.000,3364151,3040058,324093,0.096

In [119]:
# format date column to mm-dd-yyyy
drop_filtered_county["date"] = drop_filtered_county["date"].apply(pd.to_datetime)
drop_filtered_county.head(100)

,area_name,date,labor_force,employment,unemployment,unemployment_rate
0,Alameda,2021-04-01,795300,745000,50200,0.063
1,Alpine,2021-04-01,540,500,40,0.08
2,Amador,2021-04-01,14270,13270,990,0.07
3,Butte,2021-04-01,91500,85000,6500,0.071
4,Calaveras,2021-04-01,21100,19850,1250,0.059
...,...,...,...,...,...,...
1091,San Francisco,2021-03-01,542400,513300,29200,0.054
1092,San Joaquin,2021-03-01,333400,303000,30400,0.091
1093,San Luis Obispo,2021-03-01,129800,122300,7500,0.058
1094,San Mateo,2021-03-01,426100,405100,21000,0.049
1095,Santa Barbara,2021-03-01,214400,200300,14100,0.066

In [149]:
# Rename columns
drop_filtered_county.rename(columns = {"county": "countyName", "area_name": "county", "labor_force": "laborForce", "unemployment_rate": "unemploymentRate"},  
          inplace = True) 
drop_filtered_county

,countyName,date,laborForce,employment,unemployment,unemploymentRate
0,Alameda,2021-04-01,795300,745000,50200,0.063
1,Alpine,2021-04-01,540,500,40,0.08
2,Amador,2021-04-01,14270,13270,990,0.07
3,Butte,2021-04-01,91500,85000,6500,0.071
4,Calaveras,2021-04-01,21100,19850,1250,0.059
...,...,...,...,...,...,...
173227,Los Angeles,1976-05-01,3349943,3089152,260791,0.077
173233,Los Angeles,1976-04-01,3362757,3082562,280195,0.083
173239,Los Angeles,1976-03-01,3361820,3069797,292023,0.086
173245,Los Angeles,1976-02-01,3364401,3050306,314095,0.093
173251,Los Angeles,1976-01-01,3364151,3040058,324093,0.096

In [150]:
# Create a new variable for last cleaned dataset
cleaned_edd_df = drop_filtered_county
cleaned_edd_df

,countyName,date,laborForce,employment,unemployment,unemploymentRate
0,Alameda,2021-04-01,795300,745000,50200,0.063
1,Alpine,2021-04-01,540,500,40,0.08
2,Amador,2021-04-01,14270,13270,990,0.07
3,Butte,2021-04-01,91500,85000,6500,0.071
4,Calaveras,2021-04-01,21100,19850,1250,0.059
...,...,...,...,...,...,...
173227,Los Angeles,1976-05-01,3349943,3089152,260791,0.077
173233,Los Angeles,1976-04-01,3362757,3082562,280195,0.083
173239,Los Angeles,1976-03-01,3361820,3069797,292023,0.086
173245,Los Angeles,1976-02-01,3364401,3050306,314095,0.093
173251,Los Angeles,1976-01-01,3364151,3040058,324093,0.096

In [151]:
# Create a new csv 
cleaned_edd_df.to_csv("../cleaned_data/cleaned_edd_df.csv")

### Create a Dataframe groupby county

In [152]:
# Create a new variable to remember the call
checking_datatypes = cleaned_edd_df.astype({"laborForce":int}).dtypes

In [154]:
# Check total numbers of counties in this dataset
checking_total_counties = cleaned_edd_df["countyName"].nunique()
checking_total_counties

58

In [1]:
by_county_edd_df = cleaned_edd_df.astype({"laborForce":int,"employment":int, "unemployment":int, "unemploymentRate":float}).groupby("countyName").mean()
pd.DataFrame(by_county_edd_df)

NameError: name 'cleaned_edd_df' is not defined

In [157]:
# Create a new csv 
by_county_edd_df.to_csv("../cleaned_data/by_county_edd_df.csv")