In [72]:
pwd

'/Users/ellismok/Desktop/Challenges/PsciCat-Learners---Final-Project/cleaning_data_wrbk'

In [1]:
# Dependencies and Setup
import pandas as pd
import pathlib
import csv
import scipy.stats as st
import numpy as np
import calendar
from time import strptime

In [4]:
# Create paths for csv
zip_county_path = "../raw_data/zip_county.csv"

In [5]:
# Read csv
zip_county_df = pd.read_csv(zip_county_path)
pd.DataFrame(zip_county_df)

         ZIP         COUNTYNAME STATE  STCOUNTYFP CLASSFP
0      36003     Autauga County    AL        1001      H1
1      36006     Autauga County    AL        1001      H1
2      36008     Autauga County    AL        1001      H1
3      36022     Autauga County    AL        1001      H1
4      36051     Autauga County    AL        1001      H1
...      ...                ...   ...         ...     ...
46850    820   St. Croix Island    VI       78010      H4
46851    840   St. Croix Island    VI       78010      H4
46852    850   St. Croix Island    VI       78010      H4
46853    830    St. John Island    VI       78020      H4
46854    802  St. Thomas Island    VI       78030      H4

[46855 rows x 5 columns]

In [6]:
# remove all states that are not CA (California)
only_CA_df = zip_county_df.loc[(zip_county_df['STATE'] == 'CA' )]
only_CA_df

        ZIP      COUNTYNAME STATE  STCOUNTYFP CLASSFP
2500  94501  Alameda County    CA        6001      H1
2501  94502  Alameda County    CA        6001      H1
2502  94505  Alameda County    CA        6001      H1
2503  94514  Alameda County    CA        6001      H1
2504  94536  Alameda County    CA        6001      H1
...     ...             ...   ...         ...     ...
4617  95962     Yuba County    CA        6115      H1
4618  95966     Yuba County    CA        6115      H1
4619  95972     Yuba County    CA        6115      H1
4620  95977     Yuba County    CA        6115      H1
4621  95981     Yuba County    CA        6115      H1

[2122 rows x 5 columns]

In [8]:
# Delete extraneous columns
delete_extraneous_columns = only_CA_df.drop(columns= [
    "STATE"
    , "STCOUNTYFP"
    , "CLASSFP"
])    
delete_extraneous_columns.head()

        ZIP      COUNTYNAME
2500  94501  Alameda County
2501  94502  Alameda County
2502  94505  Alameda County
2503  94514  Alameda County
2504  94536  Alameda County

In [10]:
# Rename columns
new_zip_county_df = delete_extraneous_columns.rename(columns={"ZIP":"zip", "COUNTYNAME": "countyName"})
new_zip_county_df

        zip      countyName
2500  94501  Alameda County
2501  94502  Alameda County
2502  94505  Alameda County
2503  94514  Alameda County
2504  94536  Alameda County
...     ...             ...
4617  95962     Yuba County
4618  95966     Yuba County
4619  95972     Yuba County
4620  95977     Yuba County
4621  95981     Yuba County

[2122 rows x 2 columns]

In [23]:
# Remove the county from each name
new_zip_county_df["countyName"] = new_zip_county_df["countyName"].str.replace(" County", "")
new_zip_county_df[['countyName', "zip"]]

     countyName    zip
2500    Alameda  94501
2501    Alameda  94502
2502    Alameda  94505
2503    Alameda  94514
2504    Alameda  94536
...         ...    ...
4617       Yuba  95962
4618       Yuba  95966
4619       Yuba  95972
4620       Yuba  95977
4621       Yuba  95981

[2122 rows x 2 columns]

In [24]:
# Finding the number of counties in this dataset
new_zip_county_df["countyName"].nunique()

58

In [25]:
new_zip_county_df.dtypes

zip            int64
countyName    object
dtype: object

In [26]:
# Save as csv
new_zip_county_df.to_csv("../cleaned_data/zip_county.csv", index=False)